@charset "utf-8";
/* CSS Document */
body{
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	margin: auto;
	height: auto;
	width: 100%;
}
header {
	margin: auto;
	height: 63px;
	width: 940px;
}

header nav {
	float: left;
	height: 46px;
	width: 475px;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 136px;
}

#logo {
	height: 46px;
	width: 143px;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}
#wrapper {
	margin: auto;
	height: auto;
	width: 960px;
	font-family: "Helvetica Neue";
	font-size: 12px;
}
#wrapper header nav ul {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
}
#wrapper header nav ul li {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 7px;
	padding-bottom: 10px;
	padding-left: 7px;
}
#wrapper header nav ul li:hover,.home{
	background-color: #2f2f2f;
	border-radius: 10px;
	background-image: url(../images/menu_hover.jpg);
	background-repeat: repeat;
	border:1px solid #2f2f2f;
}

#wrapper header nav ul li a {
	font-family: "Helvetica Neue", "Times New Roman", Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}
#wrapper .search {
	float: right;
	height: 46px;
	width: 158px;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#wrapper header .search .submit_search {
	background-image: url(../images/search_submit.jpg);
	float: left;
	height: 46px;
	width: 28px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper header .search .search_text {
	background-image: url(../images/search_text.jpg);
	float: right;
	height: 46px;
	width: 128px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFF;
}
/** - BANNER STYLE - **/
#wrapper .banner {
	height: 341px;
	width: 943px;
	background-image: none;
	margin-top: 15px;
}
#wrapper .banner .btn {
	border-radius: 3px;
	height: 35px;
	width: 135px;
	text-align: center;
	position: relative;
	z-index: 2;
	left: 9px;
	bottom: 80px;
	background-color:#999999;
}
#wrapper .banner .btn:hover {
	border-radius: 3px;
	height: 35px;
	width: 135px;
	text-align: center;
	position: relative;
	z-index: 2;
	left: 9px;
	bottom: 80px;
	background-color:#2F2F2F;
}
#wrapper .banner .btn a {
	font-family: "Helvetica Neue", "Times New Roman", Arial;
	font-size: 13px;
	line-height: 1.538em;
	font-weight: bolder;
	color: #FFF;
	text-decoration: none;
	float: left;
	height: auto;
	width: auto;
	margin-top: 7px;
	margin-right: 23px;
	margin-bottom: 10px;
	margin-left: 22px;
}
/** ----------- LẬP TRÌNH PHẦN NỘI DUNG CONTENT ----------- **/
#wrapper .about {
	height: 398px;
	width: 960px;
	float: left;
}
#wrapper .about section {
	height: 375px;
	width: 220px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	font-family: "Helvetica Neue", "Times New Roman", Arial;
	font-size: 12px;
	background-color: #FFF;
}

#wrapper .about section h1 {
	font-family: "Helvetica Neue", "Times New Roman", Arial;
	font-size: 15px;
	color: #000;
	line-height: 1.2;
	text-align:center;
}
#wrapper .about section .title {
	font-family: "Helvetica Neue", "Times New Roman", Arial;
	font-size: 12px;
	color: #8e8e8e;
	line-height: 1.333;
	text-align: left;
	margin-left: 28px;
	margin-right: 30px;
}
#wrapper .about section .preview {
	margin-left: 28px;
	margin-right: 30px;
}
#wrapper .about section .readmore {
	height: 188px;
	width: 220px;
}
#wrapper .about section .readmore img {
	margin-left: 27px;
	margin-top: 22px;
}
#wrapper .about section .readmore p {
	margin-left: 28px;
	margin-top: 47px;
}
#wrapper .about section .readmore p a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
#wrapper .work {
	height: 558px;
	width: 960px;
	float: left;
	margin: auto;
}
#wrapper .work .title_work {
	height: 74px;
	width: 960px;
	background-image: url(../images/title_work_background.jpg);
	background-repeat: repeat;
}
#wrapper .work .title_work p {
	font-family: "Helvetica Neue", "Times New Roman", Arial;
	font-weight: bold;
	color: #000;
	font-size: 18px;
	margin-top: 22px;
	margin-left: 22px;
}
#wrapper .work .content {
	height: 457px;
	width: 185px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	padding: 15px;
}
#wrapper .work .content h2 {
	font-family: "Helvetica Neue";
	font-weight: normal;
	color: #b6b6b6;
	font-size: 12px;
}
#wrapper .work .image_work {
	height: 487px;
	width: 700px;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
#wrapper .work .image_work li {
	list-style-type: none;
	float: left;
	margin-top: 5px;
	margin-right: 7px;
	margin-bottom: 5px;
	margin-left: 7px;
}
/** ---------- FOOTER STYLE ----------- **/
#wrapper .footer-content {
	height: 278px;
	width: 960px;
	float: left;
}
#wrapper .footer-content section {
	height: auto;
	width: 220px;
	float: left;
	margin: 10px;
	color: #FFF;
}
#wrapper .footer-content section li {
	list-style-type: none;
	float: left;
	margin: 6px;
}
#wrapper footer {
	height: auto;
	width: 960px;
}
#wrapper footer .logofooter {
	float: left;
	height: 45px;
	width: 143px;
	margin-top: -30px;
}
#wrapper footer .description {
	height: 45px;
	width: 326px;
	margin-top: -30px;
	float: left;
	color: #737373;
}
#wrapper footer .description p {
	margin-top: 8px;
}
#wrapper footer .author {
	height: 45px;
	width: 249px;
	float: right;
	color: #FFF;
}
#wrapper footer .author p {
	margin-top: -22px;
}
